
body, h1, p, button {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;

}

.message-container {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Style the button */
button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    margin-left: 46%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the button on hover */
button:hover {
    background-color: #2980b9;
}

#logout {
    background-color: white; 
    color: black; 
    padding: 10px 20px; 
    border: none;
    
    margin-left: 5%;
    border-radius: 4px; 
    cursor: pointer;
    font-size: 16px; 
    text-align: center;
    text-decoration: none;
}

#logout:hover {
    background-color: red; 
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
    .message-container {
        padding: 10px; /* Reduce padding for smaller screens */
    }

    button {
        margin-left: 0; /* Center the button horizontally */
        width: 100%; /* Make the button full width */
    }
}
