
body, h1, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

table {
    width: 50%;
    margin-top: 2%;
    margin-left: 10%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #333;
    color: #fff;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}


#update,#view,#download {
    background-color: white; 
    color: black; 
    padding: 10px 20px; 
    border: none;
    
    
    border-radius: 4px; 
    cursor: pointer;
    font-size: 16px; 
    text-align: center;
    text-decoration: none;
}

#update:hover {
    background-color: blue; 
}

#view:hover {
    background-color: blue; 
}

#download:hover {
    background-color: blue; 
}


#button {
    background-color: white; 
    color: black; 
    padding: 10px 20px; 
    border: none;
    
    
    border-radius: 4px; 
    cursor: pointer;
    font-size: 16px; 
    text-align: center;
    text-decoration: none;
}

#button:hover {
    background-color: blue; 
}

#deleteToll {
    background-color: white; 
    color: black; 
    padding: 10px 20px; 
    border: none;
    
    
    border-radius: 4px; 
    cursor: pointer;
    font-size: 16px; 
    text-align: center;
    text-decoration: none;
}

#deleteToll:hover {
    background-color: red; 
}



#logout {
    background-color: white; 
    color: black; 
    padding: 10px 20px; 
    border: none;
    
    margin-left: 5%;
    border-radius: 4px; 
    cursor: pointer;
    font-size: 16px; 
    text-align: center;
    text-decoration: none;
}

#logout:hover {
    background-color: red; 
}



@media screen and (max-width: 768px) {
    table {
        font-size: 14px; 
    }

    #button,#logout {
        margin-left: 0; 
        width: 100%; 
        text-align: center; 
    }
}
